.change-enable {
  background: #E3E1EB;
  padding: 4px 10px;
  font-size: 14px;
  margin-left: 3rem;
  border-radius: 16px;
  display: inline-block;
  vertical-align: bottom;
}
.form-field.date-field {
  max-width: 250px;
}
hr {
  border-color: #A8A8A8;
}
