<div class="toolbar w-full pr-gutter" fxLayout="row" fxLayoutAlign="start center" vexContainer>
<!--  <button (click)="openSidenav()" [fxHide]="!mobileQuery" mat-icon-button type="button" class="mobile-nav-btn">-->
<!--    <mat-icon [icIcon]="icMenu" [inline]="true"></mat-icon>-->
<!--  </button>-->
  <div class="toolbar-logo" [routerLink]="['dashboard/home']">
    <img [src]="imageUrl$ | async" class="select-none flex-none default-logo">
  </div>
  <div class="px-1 flex items-center toolbar-search">
    <button (click)="openSearch()" mat-icon-button type="button">
      <i class="icon-inf-search"></i>
    </button>
    <div>Search</div>
  </div>

  <span fxFlex></span>

  <div class="-mx-1 flex items-center toolbar-right">
    <div class="px-1 flex items-center profile-link" [routerLink]="['user/view/']" matRipple>
      <img [src]="userService.currentUser.avatar" class="select-none flex-none mr-2 w-10">
      <div  class="body-1 font-medium leading-snug ltr:mr-3 rtl:ml-3" fxHide.xs>
        <ng-container *ngIf="userService.currentUser.type === 'advertiser'">
          {{ userService.currentUser.company }}
        </ng-container>
        <ng-container *ngIf="userService.currentUser.type === 'influencer'">
          {{ userService.currentUser.fullName }}
        </ng-container>
      </div>
    </div>
    <!-- <div class="px-1">
      <button (click)="openQuickpanel()" mat-icon-button type="button">
        <i class="icon-inf-mail"></i>
      </button>
    </div> -->

    <div class="px-1">
      <vex-toolbar-notifications [notifications]="notifications"></vex-toolbar-notifications>
    </div>

    <div class="px-1 toolbar-user">
      <vex-toolbar-user></vex-toolbar-user>
    </div>
  </div>
</div>

<vex-navigation *ngIf="(isVerticalLayout$ | async) && isNavbarBelowToolbar$ | async"
                [fxHide]="mobileQuery"></vex-navigation>
