.me + .partner, .partner + .me {
  margin-top: var(--padding);
}
.chat-message-search {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 5px !important;
  color: #898989;
}
.chat-send-form form input[type='text']{
  z-index: 10;
}
.message-with-offer {
  width: 270px;
  background: #FFE1DB;
  text-align: left;
}
.chat-border {
  border-color: #CCCCCC !important;
}
.partner-message {
  background: rgba(219, 219, 255,.49);
  border-radius: 22px 22px 22px 0;
  color: #474548;
}
.chat-attach {
  position: relative;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  input[type=file] {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
}
.chat-menu-trigger {
  color: #898989;
}
.chat-send-form {
  position: relative;
  padding: .7rem 2.5rem;
  border: 0 !important;
  &:before {
    content: '';
    position: absolute;
    left: 2.5rem;
    right: 2.5rem;
    height: 1px;
    top: 0;
    background: #DBDBDB;
  }

  form button {
    width: 30px;
    height: 30px;
    img {
      margin: 0 auto;
    }
  }
}
.message-with-proposal {
  background: #FFE1DB;
  border-radius: 27px 27px 0 27px;

  .proposal-card {
    padding: 10px 40px 10px 10px;
    background: #fff;
    margin-top: 10px;
    cursor: pointer;
    position: relative;

    p {
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      -webkit-box-orient: vertical;
      max-width: 150px;
    }

    &:after {
      content: '\e80b';
      position: absolute;
      top: 50%;
      margin-top: -9px;
      right: 15px;
      font-family: 'inf-icons';
      font-size: 12px;
      color: #989898;
    }

    img {
      max-width: 100px;
      margin-right: 15px;
    }
  }
}
