.proposal-view-wrapper {
  background: #fff;
  padding: 50px;
  text-align: center;
  pre {
    background: #F4F4F4;
    padding: 10px 20px;
    text-align: left;
    min-height: 200px;
    color: #A8A8A8;
  }
  .profile-info > img {
    max-height: 150px;
    margin: 0 auto 15px;
  }
  .social-summary {
    color: #A8A8A8;
    font-size: 13px;

    > div{
      display: flex;
      flex-direction: column;
      align-items: center;

      &:first-child {
        margin-right: 15px;
      }
    }
    > div + div {
      padding: 0 15px;
      border-left: 1px solid #CCCCCC;
    }
    span.value {
      font-size: 1.2em;
      font-weight: 700;
      color: #000;
      margin-right: 10px;
    }
  }
  button {
    background: #898989;
    color: #fff;
    padding: 7px 15px;
    border-radius: 27px;
  }
  .socials {
    display: flex;
    align-items: center;
    margin: 2px 10px 2px 0;
    & + p {
      color: #A8A8A8;
      margin: 10px 0;
    }
    li {
      width: 18px;
      height: 18px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;

      & + li {
        margin-left: 5px;
      }
    }
  }
}
