.sidenav {
  color: var(--sidenav-color);
  height: 100%;
  transition: var(--trans-ease-out);
  width: var(--sidenav-width);
  padding: 0 10px;

  &.collapsed {
    width: var(--sidenav-collapsed-width);

    &:not(.open) {
      .sidenav-toolbar {
        .title {
          opacity: 0;
          padding-inline-start: var(--sidenav-item-padding);
        }
      }

      ::ng-deep {
        .sidenav-items {
          .item-icon {
            margin-inline-end: var(--sidenav-item-padding)
          }

          .subheading, .item-badge, .item-label {
            opacity: 0;
          }
        }

        .simplebar-track.simplebar-vertical {
          visibility: hidden !important;
        }
      }
    }

    ::ng-deep {
      .subheading, .item-badge, .item-label {
        transition: all 200ms var(--trans-ease-out-timing-function);
      }
    }

    &.open {
      width: var(--sidenav-width);
    }
  }
}

.sidenav-toolbar {
  align-items: center;
  background: var(--sidenav-toolbar-background);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 11px var(--padding);
  white-space: nowrap;
  width: 100%;
  height: 82px;
  justify-content: center;
  img {
    max-height: 40px;
    margin-left: 11px;
    outline: none;
    cursor: pointer;
  }
  .title {
    transition: padding var(--trans-ease-out-duration) var(--trans-ease-out-timing-function), opacity var(--trans-ease-out-duration) var(--trans-ease-out-timing-function);
  }
}
.sidenav-user {
  display: flex;
  align-items: center;
  padding: 15px 0 15px .8rem;
  position: relative;
  text-align: center;
  cursor: pointer;
  outline: none;
  > div {
    padding: 5px 0;
  }
  img {
    margin-right: 15px;
    max-width: 24px;
  }

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 1px;
    border-radius: 2px;
    background: rgba(0,0,0,.06);
  }
  &:before {
    top: 0px;
  }
  &:after {
    bottom: 0px;
  }
}
.sidenav-items {
  padding-top: var(--padding);
}
.mobile-nav-btn {
  font-size: 24px;
  width: 30px;
  height: 30px;
  line-height: 24px;
}
