.custom-radio {
  position: relative;

  input {
    position: absolute;
    outline: none;
    border: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;

    &:checked {
      & + label:before {
        background: #cd229c;
        background: linear-gradient(63deg, #cd229c 0%, #f36a4e 100%);
      }
      & + label svg {
        display: block !important;
        width: 14px;
        height: 16px;
        position: absolute;
        left: 3px;
        top: 50%;
        margin-top: -8px;
        stroke-dasharray: 22.910259;
        stroke-width: 2.1333333333px;
      }
    }
  }

  label {
    padding-left: 40px;
    font-size: 1.1em;
    font-weight: 400;
    display: inline-block;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -10px;
      width: 20px;
      height: 20px;
      background: #7F7B95;
      border-radius: 50%;
    }
  }

}
