.dashboard-wrapper {
  color: #4A4F5F;
  justify-content: space-between;
  position: relative;

  .mid-content {
    flex: 0 0 calc(100% - 350px);
    max-width: calc(100% - 350px);
    padding-right: 20px;
    max-height: calc(100vh - (var(--toolbar-height) + 40px));
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
  .side-content {
    flex: 0 0 350px;
    max-width: 350px;
    padding-left: 40px;
    transition: all .4s ease-in;
    max-height: calc(100vh - (var(--toolbar-height) + 40px));
    overflow-x: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
    @media (min-width: 1200px) {
      &.side-sticky {
        position: static;
        //top: 95px !important;
        //right: 6%;
      }
    }

    h3 {
      color: #000;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .swiper-pagination {
      margin: 3px 0;
    }
    .block.popular {
      position: relative;
      margin: 25px auto 0;
      max-width: 350px;

      > h5 {
        position: absolute;
        width: 100%;
        top: 25px;
        text-align: center;
        color: #fff;
        font-weight: 700;
        z-index: 2;
        font-size: 16px;
      }
    }
    .recent-item {
      background: #fff;
      padding: 20px 40px 20px 20px;
      border-radius: 20px;
      position: relative;
      box-shadow: 2px 2px 5px rgba(159, 145, 222, 0.32);

      &:after {
        content: '\e80b';
        font-family: 'inf-icons';
        font-size: 12px;
        color: #fff;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 100%;
        top: 0;
        right: 0px;
        background: #8389F9;
        border-radius: 0 20px 20px 0;
      }
      & + .recent-item {
        margin-top: 20px;
      }
      .avatar {
        width: 70px;
        height: 70px;
        box-shadow: 0 3px 20px rgba(159, 145, 222, 0.52);

        & + div {
          margin-left: 10px;
        }
      }
      h4 {
        font-weight: 700;
        font-size: 17px;
        line-height: 1;
        color: #252E48;
      }
      p {
        color: rgba(21, 50, 136, 0.53);
        font-size: 12px;
        font-weight: 700;
      }
    }
  }
  .dashboard-welcome {
    background: #FFFFFF;
    border-radius: 20px;
    position: relative;
    margin-top: 80px;
    padding: 30px 60px 30px 150px;
    text-align: center;

    img {
      position: absolute;
      bottom: 10px;
      left: 4%;
    }
    h2 {
      font-size: 28px;
      margin-bottom: 10px;
    }
    p {
      font-size: 18px;
      margin-bottom: 20px;

      strong {
        color: #D3369A;
        font-weight: 400;
      }
    }

    button {
      background: rgb(163,55,178);
      background: linear-gradient(150deg, rgba(163,55,178,1) 0%, rgba(215,39,132,1) 100%);
      color: #fff;
      padding: 5px 20px;
      border-radius: 15px;
    }
  }
  .section {
    margin-top: 35px;

    > h3 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #000;

      & + p {
        margin-top: -20px;
        margin-bottom: 15px;
        color:#A3A1B1;

        a {
          text-decoration: underline;
        }
      }
    }

    .content {
      position: relative;
      overflow: hidden;
      padding-right: 5px;
    }
  }
  .swiper-button-next, .swiper-button-prev {
    outline: none;
    transition: all .2s ease-in;
    width: 35px;
    height: 35px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.24);
    border-radius: 50%;
    margin-top: -30px;
    &.swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
    }
    &:after {
      font-size: 0;
      width: 16px;
      height: 28px;
      background-size: 10px !important;
    }
  }
  .swiper-button-next {
    right: 15px;
  }
  .swiper-button-next:after {
    background: url("../../../../assets/img/slider-next.png") center center no-repeat;
  }
  .swiper-button-prev:after {
    background: url("../../../../assets/img/slider-prev.png") center center no-repeat;
  }
  .trending .swiper-slide, .recommend .swiper-slide {
    background: #fff;
    border-radius: 20px;
    padding: 25px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    box-shadow: 2px 4px 5px rgba(159, 145, 222, 0.32);

    button {
      margin-top: auto;
      background: #7B85F9;
      color: #fff;
      padding: 4px 12px;
      border-radius: 13px;
      font-size: 12px;
      font-weight: 700;
    }
    h3 {
      color: #252E48;
      margin: 0;
      line-height: 1;
      font-weight: 700;
      font-size: 17px;
      //overflow: hidden;
      //text-overflow: ellipsis;
      //-webkit-line-clamp: 2;
      //-webkit-box-orient: vertical;
      //display: -webkit-box;
    }
    p {
      color: rgba(21,50, 136,.53);
      margin: 0 0 15px;
      font-size: 12px;
      font-weight: 700;
      display: block;
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
    }
    .avatar {
      width: 98px;
      height: 98px;
      margin: 0 auto 20px;
      border-radius: 50%;
      box-shadow: 0 3px 20px rgba(159,145,222,.52);

      img {
        border-radius: 50%;
      }
    }
  }
  &.influencer {
    .side-content {
      .recent-item {
        padding: 0px 40px 0px 0px;
        p {
          font-size: 14px;
        }
        h4 {
          font-size: 15px;
        }
        .cover-img {
          width: 120px;
          height: 120px;
          border-radius: 20px 0 0 20px;
          overflow: hidden;

          img {
            height: 100%;
            object-fit: cover;
          }

          & + div {
            text-align: center;
            padding: 0 10px;
          }
        }
        .socials {
          display: inline-flex;
          margin-top: 5px;
          margin-bottom: 0;
        }
      }
      .popular-content {
        .swiper-slide {
          min-height: 200px;
          > img {
            min-height: 300px;
          }
          p {
            color: #fff;
            font-size: 13px;
            margin-bottom: 7px;
          }
          //.content:before {
          //  background: #E0004E;
          //  background: linear-gradient(0deg, rgba(37, 46, 72, 0) 0%, #E0004E 100%);
          //}
          //.content:after {
          //  background: #E0004E;
          //  background: linear-gradient(0deg, #E0004E 0%, rgba(37, 46, 72, 0) 100%);
          //}
        }
        .swiper-button-next, .swiper-button-prev {
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.54);
        }
      }
    }
    .socials {
      display: flex;
      margin-bottom: 15px;
      li {
        width: 20px;
        height: 20px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;

        & + li {
          margin-left: 5px;
        }
      }
    }
    .trending .swiper-slide, .recommend .swiper-slide {
      padding: 0 0 20px;
      h3 {
        font-size: 15px;
      }
      .cover-img {
        margin-bottom: 15px;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .overview {
    display: flex;
    flex-direction: row;
    margin-right: -12px;
    margin-left: -12px;

    .card {
      flex: 1;
      margin: 0 12px 15px;
      padding: 25px 35px;
      min-height: 160px;
      color: #fff;
      display: flex;
      flex-direction: column;
      border-radius: 24px;
      box-shadow: 4px 2px 12px rgba(159,145,222,.62);
      position: relative;

      h5 {
        font-size: 17px;
      }

      .value {
        font-size: 37px;
        line-height: 1.4;
        font-weight: 700;
        margin-top: auto;
      }
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        right: 0;
        border-radius: 0 0 24px 0;
      }
      &.live-camp {
        background: rgb(142,116,235);
        background: linear-gradient(90deg, rgba(142,116,235,1) 0%, rgba(140,116,234,1) 30%, rgba(100,124,215,1) 70%, rgba(61,131,195,1) 100%);

        &:after {
          background: url("../../../../assets/img/live_camp.png") right bottom no-repeat;
        }
      }
      &.pending-camp {
        background: rgb(253,135,99);
        background: linear-gradient(90deg, rgba(253,135,99,1) 0%, rgba(253,131,111,1) 30%, rgba(252,119,136,1) 70%, rgba(252,106,173,1) 100%);

        &:after {
          background: url("../../../../assets/img/pending_camp.png") right bottom no-repeat;
        }

        &.earned:after {
          background: url("../../../../assets/img/earnings.png") right bottom no-repeat;
        }
      }
      &.unread-prop {
        background: rgb(236,117,231);
        background: linear-gradient(90deg, rgba(236,117,231,1) 0%, rgba(206,112,231,1) 30%, rgba(160,108,241,1) 70%, rgba(130,105,245,1) 100%);

        &:after {
          background: url("../../../../assets/img/unread_prop.png") right bottom no-repeat;
        }
      }
    }
  }

  .popular-content {
    position: relative;
    overflow: hidden;
    .swiper-button-next {
      right: 25px;
      background: transparent !important;
    }
    .swiper-button-prev {
      left: 25px;
      background: transparent !important;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
      width: 19px;
      height: 32px;
    }
    .swiper-button-next:after {
      background: url("../../../../assets/img/slider-next-light.png") center center no-repeat;
    }
    .swiper-button-prev:after {
      background: url("../../../../assets/img/slider-prev-light.png") center center no-repeat;
    }
    .swiper-slide {
      min-height: 250px;
      max-height: 320px;
      border-radius: 35px;
      padding: 10px 8px;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 35px;
        box-shadow: 0 3px 8px rgba(159,145,222,.52);
      }

      .content {
        position: absolute;
        top: 10px;
        left: 8px;
        border-radius: 35px;
        width: calc(100% - 16px);
        height: calc(100% - 20px);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        > * {
          z-index: 2;
        }
        h5 {
          color: #fff;
          font-size: 14px;
          margin-top: 6px;
        }

        > img {
          box-shadow: 0 3px 20px rgba(159, 145, 222, 0.72);
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 88px;
          background: rgb(37,46,72);
          background: linear-gradient(0deg, rgba(37,46,72,0) 0%, rgba(13,31,85,1) 100%);
        }
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 88px;
          background: rgb(13,31,85);
          background: linear-gradient(0deg, rgba(13,31,85,1) 0%, rgba(37,46,72,0) 100%);
        }
      }
    }
    .rating {
      position: relative;
      width: 113px;
      height: 18px;
      margin: 10px 0 30px;

      &:before {
        content: '';
        position: absolute;
        background: url("../../../../assets/img/rating-back.png") left center no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
      }
      span {
        display: block;
        height: 18px;
        overflow: hidden;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          background: url("../../../../assets/img/rating.png") left center no-repeat;
          background-size: contain;
          width: 120px;
          height: 100%;
        }
      }
    }
  }
}
@media (max-width: 1440px) {
  .dashboard-wrapper {
    .trending .swiper-slide, .recommend .swiper-slide {
      .avatar {
        width: 84px;
        height: 84px;
      }
    }
    .side-content {
      flex: 0 0 320px;
      max-width: 320px;
      padding-left: 15px;
    }
    .mid-content {
      flex: 0 0 calc(100% - 320px);
      max-width: calc(100% - 320px);
      padding-right: 15px;
    }
  }
}
@media (max-width: 1199px) {
  .dashboard-wrapper {
    .dashboard-welcome h2 {
      font-size: 24px;
    }
    .trending .swiper-slide, .recommend .swiper-slide {
      h3 {
        font-size: 15px;
      }
    }
    .side-content .recent-item h4 {
        font-size: 15px;
    }
    .overview .card:after {
      background-size: 90px !important;
    }
  }
}
@media (max-width: 1024px) {
  .dashboard-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    .overview {
      flex-direction: column;
    }
    .mid-content {
      flex: 0 0 100%;
      max-width: 100%;
      padding-right: 0;
      overflow: visible;
      max-height: initial;
    }
    .side-content {
      margin-top: 60px;
      overflow: visible;
      max-height: initial;
    }
  }
}
@media (max-width: 767px) {
  .dashboard-wrapper .side-content {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    overflow: visible;
  }
  .dashboard-wrapper .dashboard-welcome {
    margin-top: 20%;
    img {
      bottom: 30%;
    }
  }
}
