.profile-view-wrapper {
  padding: 3em;
  background: #fff;
  .subtitle {
    color: #474548;
    font-weight: 700;
  }
  .profile-top {
    display: flex;

    .profile-photo {
      flex: 0 0 20%;
    }
    .profile-info {
      padding-left: 25px;
      position: relative;

      .profile-actions {
        position: absolute;
        right: 10px;
        top: 10px;
        button {
          padding: 5px;
          width: 25px;
          height: 30px;
          display: inline-block;
          border-radius: 50%;
          background-size: contain !important;
          & + button {
            margin-left: 10px;
          }
          &.favorite-toggle {
            width: 23px;
            background: url("../../../../assets/img/favorite.png") center center no-repeat;
            &:hover {
              background: url("../../../../assets/img/favorite-hover.png") center center no-repeat;
            }
            &.active {
              background: url("../../../../assets/img/favorite-active.png") center center no-repeat;
            }
          }
          &.go-chart {
            background: url("../../../../assets/img/chat-small.png") center center no-repeat;

            &:hover {
              background: url("../../../../assets/img/chat-small-hover.png") center center no-repeat;
            }
          }
          &.save-mylist {
            background: url("../../../../assets/img/mylist-small.png") center center no-repeat;

            &:hover {
              background: url("../../../../assets/img/mylist-small-hover.png") center center no-repeat;
            }
          }
        }
      }
      .profile-video {
        display: inline-block;
        vertical-align: bottom;
        text-decoration: none;
        margin-left: 7px;

        &:before, &:after {
          content: '';
          vertical-align: middle;
          display: inline-block;
          width: 55px;
          height: 20px;
          background: url("../../../../assets/img/profile-video.png") center center no-repeat;
        }
      }
    }
  }
  .title {
    font-size: 1.25em;
    line-height: 1em;
    margin-top: 0;

    & + p {
      color: #848484;
      font-size: 12px;
    }
  }
  .social-summary {
    color: #A8A8A8;
    font-size: 13px;

    > div:first-child {
      margin-right: 15px;
    }
    > div + div {
      padding: 0 15px;
      border-left: 1px solid #CCCCCC;
    }
    span.value {
      font-size: 1.2em;
      font-weight: 700;
      color: #000;
      margin-right: 10px;
    }
  }
  .sayings {
    color: #707070;
    max-width: 100%;
  }
  .socials {
    display: flex;
    align-items: center;
    margin: 2px 10px 2px 0;

    & ~ p {
      color: #707070;
    }

    li {
      width: 18px;
      height: 18px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;

      & + li {
        margin-left: 5px;
      }
    }
  }
  .categories {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

    li {
      font-size: 1em;
      font-weight: 700;
      background: #4cb6e4;
      background: linear-gradient(40deg, #4cb6e4 0%, #6963dc 34%, #833ab4 100%);
      border-radius: 15px;
      padding: 4px 15px;
      margin-bottom: 5px;
      color: #fff;

      &.more-label {
        background: transparent;
        color: #6919C6;
        font-size: 11px;
        font-weight: bold;
      }
      & + li {
        margin-left: 7px;
      }
    }
  }
  .analyze-wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    h5 {
      color: #474548;
      font-weight: 700;
      margin: 0 0 15px 0;
    }
    .followers {
      flex: 0 0 40%;
      padding-right: 20px;
      .result {
        position: relative;
      }
      .pyramid-label {
        display: flex;
        flex-direction: column;
        position: absolute;
        color: #A8A8A8;
        height: 100%;
        justify-content: space-around;
        padding: 1.5em 0;
      }
      .followers-value {
        position: absolute;
        top: 20%;
        right: 7%;
        text-align: center;
        p {
          color: #A8A8A8;
        }
        h2 {
          font-weight: 700;
        }
      }
    }
    .analyze {
      padding-left: 20px;
      flex: 0 0 60%;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 20px;
        width: 1px;
        height: 100%;
        background: #A2A2A2;
      }
      > h5 {
        padding-left: 10px;
      }

      .result {
        display: flex;
        flex-wrap: wrap;
        > div {
          flex: 0 0 50%;
          padding: 0 5px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .most-liked {
    border-top: .4px solid #A2A2A2;
    padding-top: 20px;
  }
  .posts .post-thumbnail img {
    margin: 0 auto;
  }
  .rating {
    position: relative;
    width: 113px;
    height: 18px;
    &:before {
      content: '';
      position: absolute;
      background: url("../../../../assets/img/rating-back.png") left center no-repeat;
      background-size: contain;
      width: 100%;
      height: 100%;
    }
    span {
      display: block;
      height: 18px;
      overflow: hidden;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        background: url("../../../../assets/img/rating.png") left center no-repeat;
        background-size: contain;
        width: 120px;
        height: 100%;
      }
    }
  }
  .review-wrapper {
    display: flex;
    color: #A2A2A2;
    .summary-ratings {
      flex: 0 0 30%;
      h5 {
        color:#000000;
        font-size: 3em;
        line-height: 1;
        font-weight: 700;
      }
      .rating-details > li {
        margin-bottom: 3px;
        > span{
          vertical-align: middle;

          &:first-child {
            width: 20px;
            padding-right:10px;
            display: inline-block;
          }

          &.rating-bar {
            background: #D7D5E5;
            width: calc(100% - 90px);
            height: 20px;
            border-radius: 6px;
            display: inline-block;
            position: relative;
            span {
              position: absolute;
              display: block;
              height: 100%;
              left: 0;
              top: 0;
              border-radius: 6px;
              background: #837BBA;
            }
          }
          &.value {
            color: #707070;
            width: 50px;
            padding-left:10px;
            display: inline-block;
          }
        }
      }
    }
    .reviews {
      padding-left: 20px;
      padding-right: 5px;
      .review-item {
        color: black;
        cursor: pointer;
        pointer-events: all;
        font-size: 1.1em;
        padding: 20px;
        box-shadow: 0 3px 7px rgba(108,108,108,.25);

        & + .review-item {
          margin-top: 15px;
        }
        .review-top {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          padding-right: 10px;

          .avatar {
            margin-right: 15px;
          }
          .review-title {
            display: flex;
            flex-direction: column;
            margin-right: auto;

            .review-date {
              font-size: .8em;
              color: #666267;
            }
          }
        }
      }
    }
  }
}
.report-link {
  display: inline-flex;
  align-items: center;

  img {
    margin-right: 5px;
  }
}
.pyramid {
  padding: 1.5em 3.5em;
  width: 320px;
  margin-left: 40px;
}
.zone {
  padding:30px 0;
  margin: 0 auto 1px;
  text-align:center;
  color: black;
  background-blend-mode:darken;
  transition: 0.5s;
  position: relative;
}
.zone:nth-child(1){
  background: rgba(252, 201, 46,.44);
  width: 25%;
  clip-path:polygon(50% 0%,100% 100%, 0% 100%);
  -webkit-clip-path:polygon(50% 0%,100% 100%, 0% 100%);
}
.zone:nth-child(2){
  background: rgba(249, 159,47,.52);
  width: 50%;
  clip-path:polygon(25% 0%,75% 0, 100% 100%,0% 100%);
  -webkit-clip-path:polygon(25% 0%,75% 0, 100% 100%,0% 100%);
}
.zone:nth-child(3){
  width: 75%;
  background:rgba(243, 106,78,.57);
  clip-path:polygon(16.5% 0, 83% 0, 100% 100%,0% 100%);
  -webkit-clip-path:polygon(16.5% 0, 83% 0, 100% 100%,0% 100%);
}
.zone:nth-child(4){
  background:rgba(241,67,100,.68);
  width: 100%;
  clip-path:polygon(12.5% 0, 87.5% 0, 100% 100%,0% 100%);
  -webkit-clip-path:polygon(12.5% 0,87.5% 0, 100% 100%,0% 100%);
}
.zone:hover {
  opacity: .7;
}
.zone.pointed:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -7px 0 0 -7px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #8E55B7;
  opacity: 1;
  z-index: 1;
}
.company-view-wrapper {
  .company-info {
    display: flex;
    background: #fff;
    padding: 28px 5% 23px;
    border-radius: 54px;

    & + h5 {
      color: #9B98AC;
      margin: 20px 0 0;
      font-size: 16px;
    }
  }

  .brand-logo {
    img {
      max-height: 150px;
    }
    h4 {
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      margin-top: 5px;
      margin-bottom: 0;
      line-height: 1.1;
    }
  }
  .details {
    margin-left: 50px;
    h4 {
      display: inline-block;
      font-size: 18px;
      color: #B9B6C4;
      padding: 0 8px;
      border-left: 2px solid #B9B6C4;
      border-right: 2px solid #B9B6C4;
      margin: 0;
      line-height: 1.1em;
    }
    .categories {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 15px;

      li {
        font-size: 1em;
        font-weight: 700;
        background: #4cb6e4;
        background: linear-gradient(40deg, #4cb6e4 0%, #6963dc 34%, #833ab4 100%);
        border-radius: 15px;
        padding: 4px 15px;
        margin-bottom: 5px;
        color: #fff;

        &.more-label {
          background: transparent;
          color: #6919C6;
          font-size: 11px;
          font-weight: bold;
        }
        & + li {
          margin-left: 7px;
        }
      }
    }
    p {
      font-size: 16px;
      margin: 15px 0 20px;
    }

    > a {
      display: inline-flex;
      align-items: center;
      padding: 7px 20px;
      background: #E7E7F1;
      color: #464646;
      border-radius: 20px;

      i {
        margin-right: 5px;
        font-size: 14px;
        height: 16px;
      }
      &.disabled {
        color: #898989;
      }
      &:not(.disabled):hover {
        color: #fff;
        background: rgb(205,34,156);
        background: linear-gradient(90deg, rgba(205,34,156,1) 0%, rgba(243,106,78,1) 100%);
      }
    }
  }
}
@media (max-width: 992px) {
  .review-wrapper {
    flex-direction: column;
    .rating-details {
      margin-bottom: 20px;
    }
    .reviews {
      padding-left: 5px !important;
    }
  }
  .analyze-wrapper {
    flex-direction: column;
    .analyze {
      padding-left: 0 !important;
      max-width: 100%;
      &:before { display: none; }
    }
  }
  .social-summary {
    flex-wrap: wrap;
    > div {
      padding: 0 15px;
      flex: 0 0 50%;
      margin-right: 0 !important;
      margin-bottom: 7px;
      border-left: 1px solid #CCCCCC;
    }
  }
}
@media (max-width: 767px) {
  .profile-view-wrapper .profile-top {
    flex-direction: column;
    align-items: center;
    .profile-photo {
      margin-bottom: 20px;
      img {
        max-height: 200px;
        margin: 0 auto;
      }
    }
  }
  .company-view-wrapper {
    .company-info {
      flex-direction: column;
      align-items: center;
      padding: 40px;
    }
    .details {
      margin: 50px 0 0;
    }
  }
}
@media (max-width: 599px) {
  .analyze-wrapper .analyze .result {
    flex-direction: column;
  }
  .pyramid {
    width: 270px;
  }
}
