.campaign-edit-wrapper {
  .photo-wrapper {
    margin-bottom: 4em;
    margin-top: 2.5em;
    position: relative;
    img {
      margin: 0 auto;
      max-height: 500px;
    }
  }

  .upload-btn {
    position: absolute;
    left: 50%;
    bottom: -25px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 13px;
    border-radius: 25px;
  }
  input[type=file] {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }

  .form-field.period {
    max-width: 500px;
  }
  .form-field.question {
    max-width: 600px;
  }
  .gallery-preview {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px 30px;

    .preview-item {
      flex: 0 0 25%;
      width: 25%;
      padding: 0 5px;
      position: relative;
      transition: all .1s ease-in;
      max-height: 270px;
      overflow: hidden;
      display: flex;
      align-items: center;
      img {
        max-height: 100%;
      }
      &:hover {
        box-shadow: -1px 3px 5px rgba(0,0,0,.1);
      }

      button {
        position: absolute;
        width: 25px;
        height: 25px;
        line-height: 12px;
        padding: 5px;
        top: 15px;
        left: 15px;
        background: #7F7B95;
        color: #C6C4D0;
        border-radius: 50%;
        &:hover {
          color: #fff;
          background: #cd229c;
          background: linear-gradient(63deg, #cd229c 0%, #f36a4e 100%);
        }
      }
    }
  }
  .upload-item-btn {
    position: relative;
    cursor: pointer;
    color: #707070;
    padding: 13px;
    font-size: 1.05em;
    font-weight: 300;
    border: 1.4px solid #CCCCCC;
    background: #fff;
    border-radius: 10px;
    text-align: center;

    & + .upload-item-btn {
      margin-top: 10px;
    }
  }
}
