
.icon-key:before { content: '\e800'; } /* '' */
.icon-inf-search:before { content: '\e801'; } /* '' */
.icon-inf-mail:before { content: '\e802'; } /* '' */
.icon-inf-alert:before { content: '\e803'; } /* '' */
.icon-inf-angle-down:before { content: '\e804'; } /* '' */
.icon-inf-settings:before { content: '\e805'; } /* '' */
.icon-inf-banking:before { content: '\e806'; } /* '' */
.icon-inf-help:before { content: '\e807'; } /* '' */
.icon-inf-phone:before { content: '\e808'; } /* '' */
.icon-inf-sign-out:before { content: '\e809'; } /* '' */
.icon-inf-terms:before { content: '\e80a'; } /* '' */
.icon-inf-arrow-right:before { content: '\e80b'; } /* '' */
.icon-inf-group:before { content: '\e80c'; } /* '' */
.icon-inf-campaign:before { content: '\e80d'; } /* '' */
.icon-inf-history:before { content: '\e80e'; } /* '' */
.icon-inf-home:before { content: '\e80f'; } /* '' */
.icon-inf-delivery:before { content: '\e810'; } /* '' */
.icon-inf-calendar:before { content: '\e811'; } /* '' */
.icon-inf-ccard:before { content: '\e812'; } /* '' */
.icon-inf-bank:before { content: '\e813'; } /* '' */
.icon-inf-larrow-down:before { content: '\e814'; } /* '' */
.icon-inf-delete:before { content: '\e815'; } /* '' */
.icon-inf-chat:before { content: '\e816'; } /* '' */
.icon-star-1:before { content: '\e825'; } /* '' */
.icon-star-empty:before { content: '\e826'; } /* '' */