.profile-view-wrapper {
  padding: 3em;
  background: #fff;
  .report-link {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    img {
      margin-right: 5px;
    }
  }
  .subtitle {
    color: #474548;
    font-weight: 700;
  }
  .profile-top {
    display: flex;

    .profile-photo {
      flex: 0 0 20%;
      img {
        border-radius: 50%;
        width: 100%;
      }
    }
    .profile-info {
      flex: 1;
      padding-left: 25px;
      position: relative;

      .profile-actions {
        position: absolute;
        right: 10px;
        top: 10px;
        button {
          padding: 5px;
          width: 25px;
          height: 30px;
          display: inline-block;
          border-radius: 50%;
          background-size: contain !important;
          & + button {
            margin-left: 10px;
          }
          &.favorite-toggle {
            width: 23px;
            background: url('../../../../assets/img/favorite.png') center center
              no-repeat;
            &:hover {
              background: url('../../../../assets/img/favorite-hover.png')
                center center no-repeat;
            }
            &.active {
              background: url('../../../../assets/img/favorite-active.png')
                center center no-repeat;
            }
          }
          &.go-chart {
            background: url('../../../../assets/img/chat-small.png') center
              center no-repeat;

            &:hover {
              background: url('../../../../assets/img/chat-small-hover.png')
                center center no-repeat;
            }
          }
          &.save-mylist {
            background: url('../../../../assets/img/mylist-small.png') center
              center no-repeat;

            &:hover {
              background: url('../../../../assets/img/mylist-small-hover.png')
                center center no-repeat;
            }
          }
        }
      }
      .profile-video {
        display: inline-block;
        vertical-align: bottom;
        text-decoration: none;
        margin-left: 7px;

        &:before,
        &:after {
          content: '';
          vertical-align: middle;
          display: inline-block;
          width: 55px;
          height: 20px;
          background: url('../../../../assets/img/profile-video.png') center
            center no-repeat;
        }
      }
    }
  }
  .title {
    font-size: 1.25em;
    line-height: 1em;
    margin-top: 0;

    & + p {
      color: #848484;
      font-size: 12px;
    }
  }
  .social-summary {
    color: #a8a8a8;
    font-size: 13px;

    > div:first-child {
      margin-right: 15px;
    }
    > div + div {
      padding: 0 15px;
      border-left: 1px solid #cccccc;
    }
    span.value {
      font-size: 1.2em;
      font-weight: 700;
      color: #000;
      margin-right: 10px;
    }
  }
  .sayings {
    color: #707070;
    max-width: 100%;
  }
  .socials {
    display: flex;
    align-items: center;
    margin: 2px 10px 2px 0;

    & ~ p {
      color: #707070;
    }

    li {
      width: 18px;
      height: 18px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;

      & + li {
        margin-left: 5px;
      }
    }
  }
  .categories {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

    li {
      font-size: 1em;
      font-weight: 700;
      background: #4cb6e4;
      background: linear-gradient(40deg, #4cb6e4 0%, #6963dc 34%, #833ab4 100%);
      border-radius: 15px;
      padding: 4px 15px;
      margin-bottom: 5px;
      color: #fff;

      &.more-label {
        background: transparent;
        color: #6919c6;
        font-size: 11px;
        font-weight: bold;
      }
      & + li {
        margin-left: 7px;
      }
    }
  }
  .analyze-wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    h5 {
      color: #474548;
      font-weight: 700;
      margin: 0 0 15px 0;
    }
    .followers {
      flex: 0 0 40%;
      padding-right: 20px;
      .result {
        position: relative;
      }
      .pyramid-label {
        display: flex;
        flex-direction: column;
        position: absolute;
        color: #a8a8a8;
        height: 100%;
        justify-content: space-around;
        padding: 1.5em 0;
      }
      .followers-value {
        position: absolute;
        top: 20%;
        right: 7%;
        text-align: center;
        p {
          color: #a8a8a8;
        }
        h2 {
          font-weight: 700;
        }
      }
    }
    .analyze {
      padding-left: 20px;
      flex: 0 0 60%;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 20px;
        width: 1px;
        height: 100%;
        background: #a2a2a2;
      }
      > h5 {
        padding-left: 10px;
      }

      .result {
        display: flex;
        flex-wrap: wrap;
        > div {
          flex: 0 0 50%;
          padding: 0 5px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .most-liked {
    border-top: 0.4px solid #a2a2a2;
  }
  .posts .post-thumbnail img {
    margin: 0 auto;
  }
  .rating {
    position: relative;
    width: 113px;
    height: 18px;
    &:before {
      content: '';
      position: absolute;
      background: url('../../../../assets/img/rating-back.png') left center
        no-repeat;
      background-size: contain;
      width: 100%;
      height: 100%;
    }
    span {
      display: block;
      height: 18px;
      overflow: hidden;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        background: url('../../../../assets/img/rating.png') left center
          no-repeat;
        background-size: contain;
        width: 120px;
        height: 100%;
      }
    }
  }
  .review-wrapper {
    display: flex;
    color: #a2a2a2;
    .summary-ratings {
      flex: 0 0 30%;
      h5 {
        color: #000000;
        font-size: 3em;
        line-height: 1;
        font-weight: 700;
      }
      .rating-details > li {
        margin-bottom: 3px;
        > span {
          vertical-align: middle;

          &:first-child {
            width: 20px;
            padding-right: 10px;
            display: inline-block;
          }

          &.rating-bar {
            background: #d7d5e5;
            width: calc(100% - 90px);
            height: 20px;
            border-radius: 6px;
            display: inline-block;
            position: relative;
            span {
              position: absolute;
              display: block;
              height: 100%;
              left: 0;
              top: 0;
              border-radius: 6px;
              background: #837bba;
            }
          }
          &.value {
            color: #707070;
            width: 50px;
            padding-left: 10px;
            display: inline-block;
          }
        }
      }
    }
    .reviews {
      padding-left: 20px;
      padding-right: 5px;
      .review-item {
        color: black;
        font-size: 1.1em;
        padding: 20px;
        box-shadow: 0 3px 7px rgba(108, 108, 108, 0.25);
        cursor: pointer;

        & + .review-item {
          margin-top: 15px;
        }
        .review-top {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          padding-right: 10px;

          .avatar {
            margin-right: 15px;
          }
          .review-title {
            display: flex;
            flex-direction: column;
            margin-right: auto;

            .review-date {
              font-size: 0.8em;
              color: #666267;
            }
          }
        }
      }
    }
  }
}
.pyramid {
  padding: 1.5em 3.5em;
  width: 320px;
  margin-left: 40px;
}
.zone {
  padding: 30px 0;
  margin: 0 auto;
  text-align: center;
  color: black;
  background-blend-mode: darken;
  transition: 0.5s;
  position: relative;
}
.zone:nth-child(1) {
  background: rgba(252, 201, 46, 0.44);
  width: 25%;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}
.zone:nth-child(2) {
  background: rgba(249, 159, 47, 0.52);
  width: 50%;
  clip-path: polygon(25% 0%, 75% 0, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(25% 0%, 75% 0, 100% 100%, 0% 100%);
}
.zone:nth-child(3) {
  width: 75%;
  background: rgba(243, 106, 78, 0.57);
  clip-path: polygon(16.5% 0, 83% 0, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(16.5% 0, 83% 0, 100% 100%, 0% 100%);
}
.zone:nth-child(4) {
  background: rgba(241, 67, 100, 0.68);
  width: 100%;
  clip-path: polygon(12.5% 0, 87.5% 0, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(12.5% 0, 87.5% 0, 100% 100%, 0% 100%);
}
.zone:hover {
  opacity: 0.7;
}
.zone.pointed:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -7px 0 0 -7px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #8e55b7;
  opacity: 1;
  z-index: 1;
}
.checkout-view-wrapper {
  background: #fff;
  border-radius: 9px;

  .title {
    font-size: 23px;
    color: #000000;
    margin-bottom: 50px;
  }

  .checkout-review {
    width: 40%;
    padding: 3rem;

    .checkout-review-info {
      .title {
        font-size: 18px;
        color: #AAAAAA;
        margin-bottom: 0px;
      }

      .content {
        padding: 20px 0 50px;

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin-right: 20px;
        }

        p {
          font-size: 17px;
          color: #3E3E3E;
          margin-bottom: 5px;
        }
      }
    }

    .checkout-review-des {
      .title {
        font-size: 19px;
        color: #707070;
        margin-bottom: 15px;
      }

      .price {
        font-size: 25px;
        font-weight: 600;
        color: #6963DC;
        margin-bottom: 20px;
      }

      .description {
        font-size: 17px;
        color: #AAAAAA;
      }
    }
  }
  .checkout-payment {
    width: 60%;
    padding: 3rem;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    p {
      font-size: 17px;
      color: #3E3E3E;
    }

    .title {
      font-size: 23px;
      color: #000000;
      margin-bottom: 50px;
    }

    .checkout-payment-name, .checkout-payment-address {
      .title {
        font-size: 18px;
        color: #191919;
        margin-bottom: 10px;
      }
    }
  }
}

.checkout-view-campaign {
  padding: 2.5rem 5rem;
  background: #fff;

  .title {
    padding: 0px 0 20px;
    font-size: 24px;
  }

  mat-select {
    padding: 5px 30px;
  }

  mat-select-trigger {
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50px;
    }

    span {
      margin: 0 5px;
      background-color: #ffffff;
      box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
      padding: 0 10px;
      height: 30px;
      display: flex;
      align-items: center;
      font-weight: 600;
    }

    .instagram {
      border: 3px solid #ec04d9;
      color: #ec04d9;
    }

    .facebook {
      border: 3px solid #3604ee;
      color: #3604ee;
    }

    .youtube {
      border: 3px solid #e91e63;
      color: #e91e63;
    }
  }

  mat-form-field {
    width: 100%;
    margin-top: 30px;

    label {
      position: absolute;
      margin-left: 50px;
      font-size: 18px;
    }

    .mat-form-field-outline {
      border: 1px solid gray;
      border-radius: 10px;
    }

    .mat-option-text {
      display: flex;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
      }
    }
  }

  .checkout-information {
    .title {
      font-size: 16px;
      color: #3e3e3e;
      padding: 0;
      font-weight: 700;
    }
    .price {
      font-size: 16px;
      color: #6963dc;
      padding: 0;
      margin: 4px 30px 0px 10px;
      margin-top: 4px;
    }
    .description {
      margin-top: 6px;
      font-size: 13px;
      color: #9d9d9d;
    }
  }
}

mat-divider {
  background: #cccccc;
}

.gray-button {
  background: #c9c7d5;
  padding: 0px 19px;
  border-radius: 17px;
  color: #fff;
  transition: all 0.2s ease-in;

  &:hover {
    background: #cd229c;
    background: linear-gradient(52deg, #cd229c 0%, #f36a4e 100%);
  }
}

@media (max-width: 992px) {
  .review-wrapper {
    flex-direction: column;
    .rating-details {
      margin-bottom: 20px;
    }
    .reviews {
      padding-left: 5px !important;
    }
  }
  .analyze-wrapper {
    flex-direction: column;
    .analyze {
      padding-left: 0 !important;

      &:before {
        display: none;
      }
    }
  }
  .social-summary {
    flex-wrap: wrap;
    > div {
      padding: 0 15px;
      flex: 0 0 50%;
      margin-right: 0 !important;
      margin-bottom: 7px;
      border-left: 1px solid #cccccc;
    }
  }

  .checkout-view-campaign {
    padding: 2.5rem !important;
    label {
      margin-left: 0px !important;
      font-size: 15px !important;
    }
    mat-select-trigger {
      flex-direction: column !important;
      .socials {
        flex-direction: column !important;
        span {
          margin-bottom: 5px;
        }
      }
    }
    mat-select {
      padding: 5px;
    }
  }
  .checkout-view-wrapper {
    flex-direction: column !important;
    .checkout-review {
      width: 100% !important;
      padding: 3rem 1rem !important;
    }
    .checkout-payment {
      width: 100% !important;
      padding: 3rem 1rem !important;

      .checkout-payment-details {
        flex-direction: column !important;
      }
    }
    .actions {
      text-align: center !important;
      button {
        margin-bottom: 5px !important;
      }
    }
  }
}
@media (max-width: 767px) {
  analyze-wrapper .analyze .result {
    flex-direction: column;
  }
  .profile-view-wrapper .profile-top {
    flex-direction: column;
    align-items: center;
    .profile-photo {
      margin-bottom: 20px;
      img {
        max-height: 200px;
        margin: 0 auto;
      }
    }
  }
}
